.color-icon {
  width: 20px;
  height: 20px;
  margin: 3px;
  float: left;
  position: relative;
 
}
.screenshot {
  float: left;
  position: relative;

}
.color-icon:hover {
  box-shadow: 1px 1px 1px 1px black;
}

#top-page{
  background-color: dodgerblue;
  border-radius: 10px 10px 0px 0px;
  height: 25px;
  width:800px;
}

#top-page p{
  font-family: monospace;
  padding: 3.5px 0 0 5px;
  color: white;
}

#color-grid {
  padding: 10px;
  width: 600px;
}

#header {
  background-color: lightgray;
  width: 800px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}
